// Fabrx Font Family Variables
$inter-font-family: 'Inter', sans-serif;

// Fabrx Color Variables
$red-light: #FF6363;
$light-200: #F8F8F8;
$light-100: #E1E1E1;
$light-300: #dfdfdf;
$light-150: #E5E5E5;
$black-400: #838383;
$black-450: #979797;
$black-500: #7B7B7B;
$black-700: #222222;

// Fabrx Font Weight Variables
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-100: 100;
